body {
    padding-top: 100px;
    background-color: aliceblue;
    .btn {
        width: fit-content;
    }
    .badge {
        padding: 5px;
        background-color: blue;
        color: white;
    }
    .split {
        padding-top: 50px;
        .card {
            background-color: #7fff00;
            padding: 10px 30px;
            width: fit-content;
            h4 {
                padding: 10px;
            }
            .form-control {
                border-color: #9E9E9E;
                margin: 5px;
            }
            .minusBtn {
                height: fit-content;
                margin-top: 5px;
            }
        }
        .split_btn {
            margin: 30px;
        }
    }
    .bottom {
        padding-top: 6%;
        vertical-align: text-bottom;
    }
}